@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
}

#cart_box {
	width: 1024px;
	height: auto;
	position: relative;
	left: 50%;
	transform: translate(-50%, 80px);
	margin-bottom: 150px;
}

h2 {
	border-bottom: 1px solid;
	position: relative;
	display: initial;
	padding: 5px;
}

.top_navimg {
	margin-top: 30px;
	margin-bottom: -25px;
}

#product_total {
	margin-top: 50px;
}

#menu_name {
	background: #f6f6f6;
	border: 1px solid black;
}

#menu_name * {
	display: inline-block;
	text-align: center;
}

#menu_name :nth-child(1) {
	width: 20px;
	cursor: pointer;
}

#menu_name :nth-child(2) {
	width: 100px;
}

#menu_name :nth-child(3) {
	width: 250px;
}

#menu_name :nth-child(4) {
	width: 150px;
}

#menu_name :nth-child(5) {
	width: 70px;
}

#menu_name :nth-child(6) {
	width: 70px;
}

#menu_name :nth-child(7) {
	width: 70px;
	padding-left: 25px;
}

#menu_name :nth-child(8) {
	width: 100px;
	padding-left: 15px;
}

#menu_name :nth-child(9) {
	width: 80px;
	padding-left: 15px;
}

.cart_product {
	border-bottom: 1px solid black;
}

.cart_product * {
	display: inline-block;
}

#check_box {
	position: relative;
	bottom: 43px;
	left: 5px;
	cursor: pointer;
}

#pro_img1 {
	width: 100px;
	height: 100px;
	position: relative;
	bottom: -3px;
	left: 5px;
}

#pro_content1 {
	width: 250px;
	padding-left: 10px;
	position: relative;
	bottom: 40px;
	text-align: center;
}

#price1 {
	position: relative;
	left: 40px;
	bottom: 40px;
	width: 100px;
}

.product_cnt {
	position: relative;
	left: 50px;
	bottom: 20px;
}

.product_cnt :nth-child(2) {
	position: relative;
	top: 7px;
	left: px;
	max-width: 25px;
	height: 30px;
	border-radius: 3px 0px 0px 3px;
	border: 1px solid #767676;
	padding-left: 5px;
}

.product_cnt :nth-child(3) {
	position: relative;
	font-size: 1px;
	background: white;
	border: 1px solid #767676;
	outline: none;
	max-width: 30px;
	border-radius: 0px 3px 0px 0px;
	top: -2px;
	right: 10.5px;
	margin-left: 4px;
	cursor: pointer;
	height: 16.5px;
	width: 28px;
}

.product_cnt :nth-child(4) {
	position: relative;
	max-width: 30px;
	font-size: 1px;
	background: white;
	border: 1px solid #767676;
	outline: none;
	border-radius: 0px 0px 3px 0px;
	top: 13.5px;
	right: 74px;
	width: 28px;
	margin-left: 30px;
	height: 16.5px;
	cursor: pointer;
}

.send_type {
	position: relative;
	bottom: 40px;
	left: -10px;
}

.send_price {
	position: relative;
	bottom: 40px;
	left: 10px;
	width: 80px;
	text-align: center;
}

.sum {
	border: none;
	position: relative;
	left: 260px;
	bottom: 20px;
	font-size: 16px;
	background: white;
	color: black;
	text-align: center;
}

.select_div {
	position: relative;
	bottom: 27px;
	left: 140px;
	width: 100px;
}

.select_div * {
	width: 80px;
	height: 25px;
	margin: 1px;
	cursor: pointer;
}

#total_price {
	position: relative;
	left: 480px;
	width: 750px;
	top: 10px;
}

#total_price * {
	display: inline-block;
	font-size: 16px;
	border: none;
}

#total_price :nth-child(2) {
	width: 85px;
	font-weight: 900;
	text-align: right;
}

#total_price :nth-child(6) {
	max-width: 45px;
	font-weight: 900;
	text-align: right;
}

#total_price :nth-child(8) {
	margin-right: 5px;
}

#total_price :nth-child(12) {
	width: 85px;
	font-weight: 900;
	color: #008bcc;
	text-align: right;
}

#del_cart {
	position: relative;
	bottom: 15px;
	width: 200px;
}

#del_cart * {
	display: inline-block;
}

#del_cart :nth-child(2) {
	height: 30px;
	width: 85px;
	background-color: #979797;
	border-radius: 3px;
	border: solid 1px;
	color: #fff;
	cursor: pointer;
}

#price_box {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-top: 30px;
}

#price_menu {
	background: #f6f6f6;
}

#price_menu * {
	display: inline-block;
	width: 337px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 17px;
	font-weight: 900;
}

#price_value * {
	display: inline-block;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	border: none;
	font-size: 16px;
	position: relative;
}

#price_value :nth-child(1) {
	width: 337px
}

#price_value :nth-child(1) input {
	width: 80px;
}

#price_value :nth-child(2) {
	width: 337px;
}

#price_value :nth-child(2) input {
	width: 40px;
}

#price_value :nth-child(3) {
	width: 337px;
}

#price_value :nth-child(3) {
	color: #008bcc;
	font-weight: 900;
}

#price_value :nth-child(3) input {
	width: 83px;
	color: #008bcc;
	font-weight: 900;
	text-align: right;
}

#button_div {
	text-align: center;
}

#button_div * {
	width: 150px;
	height: 50px;
	margin-top: 50px;
	font-size: 17px;
	font-weight: 900;
	cursor: pointer;
}

#button_div :nth-child(1) {
	background: #495164;
	color: white;
	border: 2px solid;
	border-radius: 5px;
}

#button_div :nth-child(2) {
	background: #979797;
	color: white;
	border: 2px solid;
	border-radius: 5px;
}

.select_div :nth-child(1) {
	background-color: #495164;
	color: #fff;
	border-radius: 3px;
	border: none;
}

.select_div :nth-child(2) {
	background-color: #fff;
	border-radius: 3px;
	border: solid 1px;
}

@media screen and (-ms-high-contrast: active) , ( -ms-high-contrast :
	none) {
	.product_cnt :nth-child(3) {
		position: relative;
		font-size: 10px;
		background: white;
		border: 1px solid #767676;
		outline: none;
		max-width: 30px;
		border-radius: 0px 3px 0px 0px;
		top: -2px;
		right: 10.5px;
		margin-left: 4px;
		cursor: pointer;
		height: 16.5px;
		width: 28px;
	}
	.product_cnt :nth-child(4) {
		position: relative;
		max-width: 30px;
		font-size: 10px;
		background: white;
		border: 1px solid #767676;
		outline: none;
		border-radius: 0px 0px 3px 0px;
		top: 13.5px;
		right: 74px;
		width: 28px;
		margin-left: 30px;
		height: 16.5px;
		cursor: pointer;
	}
}